<!DOCTYPE html>
<html lang="nl">
	<head>
		<script src="https://kit.fontawesome.com/5b35dc9d73.js" crossorigin="anonymous"></script>
		<link rel='stylesheet' type= 'text/css' href='css/week5.css'>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>Template</title>
	</head>

<body background= "voorbeeld/resizedheader.jpg" id= foto>
	<img src="voorbeeld/logo.png" id='logo'>
	
	<div>
		<a href="template.html"><i class="fas fa-home fa-2x"></i></a>
		<a href="features.html"><i class="fas fa-cogs fa-2x"></i></a>
		<a href="pages.html"><i class="far fa-copy fa-2x"></i></a>
		<a href="portfolio.html"><i class="fas fa-th fa-2x"></i></a>
		<a href="blog.html"><i class="fas fa-font fa-2x"></i></a>
		<a href="contact.html"><i class="fas fa-comment fa-2x"></i></a>
</div>

	<p> Home Features Pages portfolio Blog Contact</p>



	<a href="socialmedia.html"><i class="fas fa-share-alt fa-2x"id="share"></i></a> 
	<h4>Socialmedia/share</h4>



</body>
</html>



